*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
body{
    text-align: center;
    padding: 50px 100px;
    font-family: 'Montserrat', sans-serif;
}
figure img{
    width: 200px;
    height: auto;
}
img{
    width: 100%;
    border-radius: 12px;
    height: 100%;
}
.container{
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
}
.photo_2{
    grid-column: 2 / span 2;
    grid-row: 1/2;
}
.photo_3{
    grid-column: span 2;
    height: 255px;
}
.photo_4{
    grid-row: -3/-1;
    grid-column: 3/4;
}
figure img{
    border-radius: 16px;
}
figcaption{
    font-size: 24px;
    color: #4E5150;
    font-weight: 600;
    line-height: 29px;
}
.flex-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile p{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #A9A9A9;
    margin: 15px 0;
}
.button{
    height: 67px;
    background: #E5E5E5;
    border-radius: 12px;
    margin-right: 5px;
    padding: 20px;
}
.button p{
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #4E5150;
}
#follower{
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    text-align: center;
    color: #bdbdbd;
}
@media (max-width:400px) {
  figure img{
      width: 150px;
      height: 50%;
  }  
}
@media (min-width:900px) {
    .photo_3{
        height: 375px;
    }
}